<footer role="contentinfo">
  <div class="wrapper repel">
  {%- render 'navigation' with navigation.secondary
      page: page
      tags: tags
  -%}
  {%- render 'navigation' with navigation.social
      page: page
      tags: tags
  -%}
  </div>
</footer>
